/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #222;
$link-color: #2a76dd;
$presentation-h1-font-size: 1.5em;
$presentation-heading-line-height: 1.5;
$presentation-h2-font-size: 1.25em;
$presentation-h3-font-size: 1em;
$presentation-font-size-root: 40px;
$font-family-sans-serif: Open Sans;

/*-- scss:rules --*/

.reveal section h2 {
  padding-bottom: 10px;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .code-block {
  margin-bottom: 200px;  /* Add bottom margin */
  /* Additional styling here */
}


.reveal dl.code-annotation-container-grid {
  font-size: 24px;
}

.reveal dl.code-annotation-container-grid dt {
margin-top: 0.4rem;
}

ul li {
  font-size: 24px; 
  padding: 4px 4px 0px;
 }

 ul li > ul li {
  font-size: 20px; 
  padding: 2px 2px 0px;
 }

ul li > ol li {
  font-size: 20px; 
  padding: 2px 2px 0px;
 }

 ol li {
  font-size: 24px; 
  padding: 4px 4px 0px;
 }

 ol li > ol li {
  font-size: 20px; 
  padding: 2px 2px 0px;
 }

 ol li > ul li {
  font-size: 20px; 
  padding: 2px 2px 0px;
 }