project:
  type: website
  output-dir: _site
website:
  title: "riegersven.github.io"
  open-graph:
    site-name: "Personal website of Sven Rieger"
  twitter-card: true
  site-url: https://github.com/RiegerSven/
  repo-url: https://github.com/RiegerSven/riegersven.github.io
  repo-actions: [edit, issue]
  page-navigation: true
  page-footer:
    left: "The website is build with [Quarto](<www.quarto.org>)."
    center: "Copyright (c) 2023"
    right: "All material is licensed under the MIT License [(MIT)](<https://en.wikipedia.org/wiki/MIT_License>)."
  search:
    location: navbar
    type: overlay 
  reader-mode: false
  navbar:
    collapse: true
    pinned: false
    right:
      - text: "about me"
        file: index.qmd 
      - text: library
        file: library.qmd
      - text: publications
        file: publications.qmd
      - icon: github
        href: https://github.com/RiegerSven/

format:
  html:
    toc: true
    theme: litera
    mermaid:
      theme: neutral
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 250px
    css: styles.css

execute: 
  freeze: auto

bibliography: 
  - "bib-files/rieger-pub.bib"
  - "bib-files/github-page.bib"

csl: apa.csl

# code stuff
highlight-style: github
code-fold: false
code-line-numbers: true
code-annotations: below
code-copy: true
code-link: true

# figures
fig-dpi: 300
fig-responsive: true

# links
link-external-icon: false
link-external-newwindow: true
  
#
#url: "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"

